APP_PORT=5000
SECRET_KEY=dev_secret_key
MYSQL_DATABASE=jpoll_db
MYSQL_USER=jpoll_user
MYSQL_PASSWORD=jpoll_password
MYSQL_ROOT_PASSWORD=root_password
RESET_TOKEN=superadmin123
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password